@charset "UTF-8";

section.header {
	background-image: url("images/header2.jpg");
	height: 150px;
	background-size: cover;
}


.logbt{
	padding: 5px;
	display: block;
}
section.foot {
  background-size: cover;
  background-image: url("images/poster.jpg");
  width: 100%;
  min-width: 100%;
  height: 100%;
  color: pink;
  resize: both;
  background-repeat: no-repeat;
}
section.about {
	background-size: cover;
 	background-image: url("images/header2.jpg");
  	width: 100%;
  	min-width: 100%;
  	height: 100%;
  	color: pink;
  	resize: both;
  	background-repeat: no-repeat;
}
section.about_text {
	width:800px;
	font-size:25px;
	padding-top:50px;
	padding-left:30%;
	color:black;
	resize:none;
}

section.contact_text {
	width:800px;
	font-size:25px;
	padding-top:50px;
	padding-left:35%;
	color:black;
	resize:none;
	
	
}

body{
	margin: 0;
	padding: 0;
}

section.title {
	text-align: center;
	font-size: 65px;
	padding:45px 0 45px 0;
	position: absolute;
	top: 4%;
	left: 45%;
}
.logout{
	width:5%;
	height: 20px;
	float: right;
	margin: 10px;


}
.profile {
	width:10%;
	height: 40px;
	float: right;
	margin: 10px;
}

.searchbar{
	text-align:right;
	background-color: #a90707;
	height: 35px;
	padding-top: 10px;
	padding-right:30px;
}

.searchbar input {
	font-size:15px;
}

.searchbar input[type = submit] {
	text-align:center;
	font-size:15px;
	
}

.searchbar a {
	float:left;
	display: inline-block;
	padding: 0 10px 0 10px;
	font-size: 20px;
	color:black;
}

.searchbar a.active{
	background-color: #9b9b9b;
	color:black;
}